<!doctype html>
<html>
  <head>
      <title>Travelara</title>
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
      <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../browse.css">
      <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
  </head>
  <body>
        <!-- Logo -->
        <div style="position: fixed; top:0px; left: 0px;">


          <!-- Logo -->
          <a class="d-inline-flex align-items-center" href="../../vacation/<%= id %>" aria-label="MyTravel" style="position:relative;left:50px;color:#297cbb;">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55px" height="53px" color="#297cbb" style="margin-bottom: 0;">
                  <path fill-rule="evenodd"  class="fill-primary"
                   d="M53.175,51.207 C50.755,53.610 46.848,53.594 44.448,51.172 L40.766,47.484 C40.378,47.082 40.378,46.444 40.766,46.041 C41.164,45.628 41.821,45.617 42.233,46.016 L45.915,49.702 C47.503,51.246 50.030,51.246 51.619,49.703 C53.243,48.125 53.283,45.528 51.708,43.902 L50.100,42.291 C49.712,41.889 49.712,41.251 50.100,40.849 C50.498,40.436 51.155,40.425 51.567,40.823 L53.174,42.433 C53.186,42.445 53.198,42.457 53.210,42.469 C55.610,44.892 55.594,48.804 53.175,51.207 ZM47.857,37.404 C47.757,37.404 47.657,37.389 47.561,37.360 C47.561,37.360 47.561,37.360 47.561,37.360 C47.012,37.196 46.700,36.618 46.864,36.068 C48.542,30.413 47.740,24.309 44.659,19.281 C38.665,9.497 25.886,6.432 16.116,12.435 C16.085,12.456 16.054,12.476 16.021,12.493 C15.518,12.767 14.888,12.581 14.614,12.077 C14.340,11.574 14.526,10.943 15.029,10.669 C18.623,8.455 22.761,7.284 26.981,7.288 C29.178,7.289 31.363,7.608 33.469,8.235 C45.556,11.831 52.442,24.559 48.851,36.662 C48.719,37.102 48.315,37.404 47.857,37.404 ZM13.802,8.022 L12.765,6.984 C12.377,6.581 12.377,5.943 12.765,5.540 C13.163,5.128 13.820,5.116 14.232,5.515 L15.269,6.554 C15.657,6.956 15.657,7.594 15.269,7.996 C14.871,8.409 14.214,8.420 13.802,8.022 ZM9.654,3.868 L9.084,3.297 C7.495,1.753 4.968,1.753 3.379,3.296 C1.755,4.874 1.715,7.470 3.291,9.097 L10.083,15.900 C10.278,16.095 10.387,16.358 10.387,16.634 C10.387,17.207 9.923,17.672 9.350,17.672 C9.075,17.672 8.812,17.563 8.617,17.368 L1.824,10.566 C1.812,10.554 1.800,10.542 1.788,10.530 C-0.611,8.108 -0.596,4.195 1.824,1.792 C4.243,-0.611 8.150,-0.595 10.550,1.827 L11.121,2.399 C11.129,2.408 11.138,2.417 11.146,2.425 C11.544,2.837 11.533,3.495 11.121,3.893 C10.709,4.292 10.052,4.281 9.654,3.868 ZM7.742,19.850 C8.260,20.096 8.480,20.715 8.234,21.233 C5.232,27.580 5.635,35.016 9.305,41.001 C15.302,50.780 28.080,53.839 37.845,47.834 C37.876,47.813 37.908,47.793 37.940,47.775 C38.444,47.501 39.073,47.687 39.347,48.191 C39.621,48.695 39.435,49.325 38.932,49.600 C35.338,51.814 31.200,52.984 26.981,52.981 C23.606,52.979 20.273,52.228 17.223,50.782 C5.829,45.380 0.966,31.752 6.360,20.342 C6.606,19.824 7.225,19.604 7.742,19.850 ZM40.262,35.347 C40.601,35.281 40.951,35.387 41.196,35.631 L43.270,37.708 C43.675,38.114 43.675,38.771 43.270,39.176 L39.551,42.900 C37.191,45.264 33.364,45.264 31.004,42.900 L24.906,36.795 L21.491,40.215 C21.086,40.620 20.430,40.620 20.025,40.215 L17.951,38.138 C17.719,37.905 17.612,37.576 17.660,37.251 L18.624,30.501 L12.590,24.460 C11.040,22.908 11.040,20.390 12.590,18.838 C14.141,17.285 16.654,17.285 18.205,18.838 L24.077,24.716 L35.851,18.820 C36.250,18.620 36.732,18.699 37.048,19.015 L39.122,21.092 C39.527,21.497 39.527,22.155 39.122,22.560 L30.521,31.173 L35.622,36.277 L40.262,35.347 ZM20.758,38.012 L23.440,35.327 L20.454,32.337 L19.784,37.036 L20.758,38.012 ZM34.541,38.138 L28.318,31.907 C27.914,31.501 27.914,30.844 28.318,30.438 L36.919,21.826 L36.107,21.013 L24.333,26.910 C23.934,27.109 23.452,27.031 23.136,26.714 L16.735,20.306 C16.379,19.949 15.897,19.749 15.394,19.749 C14.347,19.750 13.498,20.600 13.499,21.649 C13.496,22.154 13.695,22.638 14.051,22.995 L20.449,29.401 L25.635,34.593 L32.464,41.432 C34.014,42.984 36.528,42.984 38.078,41.432 L41.064,38.442 L40.115,37.492 L35.474,38.421 C35.135,38.488 34.786,38.382 34.541,38.138 Z"/>
              </svg>
              <span style="position:relative;bottom:20px;color:black;" class="brand brand-dark">Home</span>
          </a>
          <!-- End Logo -->

        </div>
        <!-- End Logo -->
<div id="searchBar" style="display:block">
    <input name="query" value="" placeholder="New Search..." style="margin-left:45%; position:relative; top: 10px; height: 25px;"></input> <button id="nextSearch"style=" border:1px solid black; background-color:white; position:relative; top: 10px; right:5px; padding: 1px; height: 25px"><i class="fa fa-search" style=""></i></button>
</div>

    <div class="tinder">
      <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
      </div>

      <div class="tinder--cards">
        <% for (let i = 0; i<extraData.length; i++) { %>
          <div class="tinder--card" style="margin-bottom:0;">
            <a style="padding: 8px; background-color:black;border-radius:50% 25%;" target="_blank" href="<%= extraData[i].url?extraData[i].url:extraData[i].canonicalUrl?extraData[i].canonicalUrl:''%>">
            <img src="<%= cards[i].categories[0].icon.prefix + 64 + cards[i].categories[0].icon.suffix%>" style="position:relative; top:25px;"/>
            </a>
            <br>
            <span style="color: white;"><%= extraData[i].categories[0].name%></span>
            <img src="<%= (extraData[i]&&extraData[i].bestPhoto)?(extraData[i].bestPhoto.prefix + extraData[i].bestPhoto.width + extraData[i].bestPhoto.suffix):'' %>" style="width:100%; height: 75%; position:relative; bottom: 27%; z-index:-2;"/>

            <section id="restOfCard" style="z-index: -1; position:relative; bottom:70px;">

            <h4 style="position:relative; color: white;"><%= cards[i].name %></h4>
            <span style="position:relative; color: white;"><%= extraData[i].location.city+', '+extraData[i].location.state%></span>
            <br>
            <span style="position:relative; color: white;"><%= cards[i].location.distance/1000%> km</span>
            <br>
          </section>
          </div>
        <% } %>

      </div>

      <div class="tinder--buttons">
        <button id="nope"><i class="fa fa-remove"></i></button>
        <button id="love"><i class="fa fa-heart"></i></button>
      </div>
    </div>

  <footer>
    <script src="../../browse.js"></script>
    <script>
    console.log(<%= cards %>)
      let id = '<%= id %>'
    </script>
  </footer>
</body>
</html>
