<%- include('header'); -%>
  <div class="container">

      <div class="page-header text-center">
          <h1><span class="fa fa-anchor"></span> public Profile Page</h1>
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

          <!-- LOCAL INFORMATION -->
          <div class="col-sm-6">
              <div class="well">
                  <h3><img src="<%= user.profileImg %>" alt=""> Local</h3>

                  <% if (user.local.email) { %>
                      <p>
                          <strong>id</strong>: <%= user._id %><br>
                          <strong>email</strong>: <%= user.local.email %><br>
                          <strong>password</strong>: <%= user.local.password %>
                      </p>

                      <a href="/unlink/local" class="btn btn-default">Unlink</a>
                  <% } else { %>
                      <a href="/connect/local" class="btn btn-default">Connect Local</a>
                  <% } %>

              </div>
          </div>
          <div class="col-sm-6">
            <h3>Posts</h3>
            <ul>
            <% for(var i=0; i<posts.length; i++) {%>
              <li>
                <a href="/post/<%= posts[i]._id%>">
                  <img src="../<%= posts[i].imgPath%>">
                </a>
                <span><%= posts[i].caption %></span>
                <span><%= posts[i].likes %></span>
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>


          <h2>Add a post</h2>
          <!-- IMAGE UPLOAD -->
          <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
           </form>

  </div>
<%- include('footer'); -%>
